html {
    color: white;
    background-color: #31415e;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    min-height: 400px;
}

header {
    text-align: center;
    height: 130px;
    padding: 0 25px;
    margin-bottom: 20px;
}

.loader {
    margin: 40px auto 100px;
    width: 58px;
    height: 58px;
    position: relative;

}

.carpark {
    width: 100%;
    float: left;
    display: block;
    height: 64px;
    color: white;
    font-weight: 500;
    border-bottom: 1px solid #31415e;
}

.carpark:first-of-type {
    border-top: 1px solid #31415e;
}

.full {
    background-color: #ff6f69;
    -webkit-box-shadow: 0 -6px 6px -6px #d86058 inset;
    -moz-box-shadow: 0 -6px 6px -6px #d86058 inset;
    box-shadow: 0 -6px 6px -6px #d86058 inset;
}

.almost-full {
    background-color: #ff9b59;
    -webkit-box-shadow: 0 -6px 6px -6px #de864d inset;
    -moz-box-shadow: 0 -6px 6px -6px #de864d inset;
    box-shadow: 0 -6px 6px -6px #de864d inset;
}

.half-full {
    background-color: #f8d300;
    -webkit-box-shadow: 0 -6px 6px -6px #dec000 inset;
    -moz-box-shadow: 0 -6px 6px -6px #dec000 inset;
    box-shadow: 0 -6px 6px -6px #dec000 inset;
}

.almost-empty {
    background-color: #7fc7af;
    -webkit-box-shadow: 0 -6px 6px -6px #61b19b inset;
    -moz-box-shadow: 0 -6px 6px -6px #61b19b inset;
    box-shadow: 0 -6px 6px -6px #61b19b inset;
}

.empty {
    background-color: #3fb8af;
    -webkit-box-shadow: 0 -6px 6px -6px #009f97 inset;
    -moz-box-shadow: 0 -6px 6px -6px #009f97 inset;
    box-shadow: 0 -6px 6px -6px #009f97 inset;
}

.carpark_name {
    float: left;
    display: block;
    width: 50%;
    padding-top: 24px;
    margin-left: 8px;
    padding-left: 15px;
    text-transform: uppercase;
    font-size: 1rem;
    height: 40px;
    background: #384a6b;
}

.carpark_spaces {
    float: right;
    text-align: right;
    display: block;
    padding: 15px 5% 15px 5px;
    font-size: 1.6rem;
    color: #384a6b;
}

.carpark_spaces span {
    font-size: 1rem;
}

.title {
    text-shadow: none;
    text-align: left;
    margin-bottom: 10px;
    font-size: 40px;
}

.summary {
    text-align: left;
    font-size: 20px;
}

#timestamp {
    color: #1ec9bd;
    text-align: left;
}

p {
    text-shadow: none;
    text-align: center;
    margin-top: 5px;
    font-size: 0.9rem;
}

p span {
    font-size: 0.8rem;
    font-style: italic;
    color: #1ec9bd;
    margin: 0 10px;
}

footer {
    float: left;
    display: block;
    padding: 0 25px;
}

footer p {
    padding-top: 20px;
    text-align: left;
    font-size: 1rem;
}

footer a {
    color: #1ec9bd;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .title {
        text-align: center;
        font-size: 2em;
    }

    .summary {
        text-align: center;
        font-size: 0.9rem;
    }

    #timestamp {
        text-align: center;
        font-size: 0.8rem;
    }

    footer p {
        text-align: center;
        font-size: 0.8rem;
    }
}

/* =================================== */
/* Glitch Navbar */
/* =================================== */
.glitch-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    background-color: black;
}

.glitch-nav-title {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

.glitch-nav-items {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.glitch-nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    border-radius: 36px;
}

.glitch-nav-item a:hover {
    background-color: rgba(75, 180, 255);
    border-radius: 4px;
    border-radius: 36px;
}

.glitch-nav-item-active a {
    background-color: rgba(75, 180, 225, 0.3);
    border-radius: 36px;
}

.glitch-nav-glitch {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    position: relative;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .glitch-nav {
        padding: 10px 0;
        flex-direction: column;
    }

    .glitch-nav-items {
        row-gap: 25px;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* https://codepen.io/cbanlawi/pen/xxRBeMY */
@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
            0.025em 0.04em 0 #fffc00;
    }

    15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
            0.025em 0.04em 0 #fffc00;
    }

    16% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
            -0.05em -0.05em 0 #fffc00;
    }

    49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
            -0.05em -0.05em 0 #fffc00;
    }

    50% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
            0 -0.04em 0 #fffc00;
    }

    99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
            0 -0.04em 0 #fffc00;
    }

    100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
            -0.04em -0.025em 0 #fffc00;
    }
}